[submodule "agent-browser"]
	path = agent-browser
	url = git@github.com:lumi77-mac/agent-browser.git
[submodule "self-improving-agent"]
	path = self-improving-agent
	url = git@github.com:lumi77-mac/self-improving-agent.git
[submodule "gog"]
	path = gog
	url = git@github.com:lumi77-mac/gog.git
[submodule "find-skills"]
	path = find-skills
	url = git@github.com:lumi77-mac/find-skills.git
[submodule "GitHub"]
	path = GitHub
	url = git@github.com:lumi77-mac/GitHub.git
[submodule "summarize"]
	path = summarize
	url = git@github.com:lumi77-mac/summarize.git
[submodule "skill-vetter"]
	path = skill-vetter
	url = git@github.com:lumi77-mac/skill-vetter.git
[submodule "github-skill"]
	path = github-skill
	url = git@github.com:lumi77-mac/github-skill.git
