[submodule "agent-browser"]
	path = agent-browser
	url = git@github.com:lumi77-mac/agent-browser.git
[submodule "self-improving-agent"]
	path = self-improving-agent
	url = git@github.com:lumi77-mac/self-improving-agent.git
